body {
    font-family: 'Nunito', sans-serif;
}

.p-4{
    padding: 1rem;
    background-color:rgb(71, 80, 76);
    color: rgb(235, 235, 173);
}

nav a {
    padding: 2;
    
}

.border-1{
    border-width:.07rem;
}

.form div{
    margin-bottom: 15px;
}

.form div>input {
    display:block;
}


.form div>button {
    padding:5px;
}

.form .form-error{
    font-size: .75rem;
    color:red;
    font-weight: bold;
}